body {
    font-family: roboto ;
}

header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-top: -90px;
    position: fixed;
    right: 150px;
    left: 200px; 
    
}
.navbar .nav-links ul {
    list-style: none;
    display: flex; 
    font-size: 18px;
    
    
}
.navbar .nav-links ul li {
    padding: 20px;
}
.navbar a {
    text-decoration: none;
}
/* .navbar .nav-links {
    margin-right: 150px;
}
.navbar .logo {
    margin-left: 250px;
    
} */

.logo img {
    height: 250px;
    width: 250px;
    cursor: pointer;
}
.navbar .nav-links ul li .home {
    color: rgb(47,193,174);
}
.navbar .nav-links ul li a {
    color: rgb(177, 177,177);
}


.logo2 img {
    height: 50px;
    width: 50px;
    margin-top: 100px;
}

.logo2{
    text-align: center;
}
.bloc1 {
    display: flex;
    justify-content: space-between;
    margin-left: 168px;
    margin-right: 140px;
    font-size: larger;
    margin-top: 20px;
    font-weight: light;


}
.paragraph1 h2 {
    text-align: center;
    color:rgb(24,184,171);
    font-weight: 100;
    font-size: 40px;
}





.bloc2 .box1 {
    background-color:rgb(0,204,177);
    height: 350px;
    width: 310px;
    border-radius: 15px;
    margin-left: 150px;
    font-size: 30px;
    text-align: center;
    color: rgb(255,255,255);
}

 .bloc2 .box2{
    background-color:rgb(61,131,223);
    height: 350px;
    width: 310px;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    color: rgb(255,255,255);
}

.bloc2 .box3{
    background-color:rgb(27,39,52);
    height: 350px;
    width: 310px;
    border-radius: 15px;
    margin-right: 120px;
    font-size: 30px;
    text-align: center;
    color: rgb(255,255,255);
}

.bloc2 {
     display: flex;
    justify-content: space-around;
    margin-top: 80px;
    

}


.bloc2 .pays option{
    font-size: 20px;

}
.bloc2 img {
   margin-right: 250px;
   margin-top: 10px;
}

.bloc3 {
    display: flex;
    justify-content: space-around;
    
    
}

.bloc3 p {
    font-size: 30px;
    color: rgb(47,193,174); ;
}



.bloc4 {
    background-color: rgb(216,246,246);
    height: 580px;
    margin-top: 100px;
    display: flex ;

}

.bloc4 .box .box1 {
    background-color: rgb(255,255,255);
    height: 230px;
    width: 210px;
    margin-top: 50px ;
    
    
    
    
}

.bloc4 .box .box2 {
    background-color: rgb(255,255,255);
    height: 230px;
    width: 210px;
    margin-top: 20px;
    
    
}
.bloc4 .box .box3 {
    background-color: rgb(255,255,255);
    height: 230px;
    width: 210px;
    margin-top: 80px ;
    
    
    
}

.bloc4 .box .box4 {
    background-color: rgb(255,255,255);
    height: 230px;
    width: 210px;
    margin-top: 40px;
   
    
}
.bloc4 .box {
    display: grid;
    grid-template-columns: 220px 210px;
    grid-template-rows: 240px 240px;
    margin-left: 100px;
    text-align: center;
   
    
    
} 
.bloc4 .box img {
    margin-top: 8px;
}

.bloc4 .box .paragraph {
    font-size: large;
    color: rgb(0,192,210);
}


.bloc4 .area {
     margin-left: 190px;
     margin-right: 20px;
     margin-top: 50px;
     
}


.bloc4 .area h1 {
    color: rgb(0,179,155);
}
 





.bloc5 {
    text-align: center;
    margin-top: 80px;
}


.bloc5 .paragragh {
    font-size: 30px;
    color:  rgb(0,179,167);
}




.bloc6 {
    width: 1000px;
    text-align: center;
    margin-left: 180px;
    display: grid;
    grid-template-columns:315px 315px 315px  ;
    grid-template-rows: 400px 400px 400px ;
    margin-top: 80px;

}



.bloc6 .ig .dim {
    height: 350px;
    width: 300px;
}


.bloc6 .ig {
    font-size:large;
    color: rgb(138,116,116);
    cursor: pointer;

} 


.bloc6 .ig a {
    font-size:10px;
    color: rgb(243,255,255);
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    margin-left: 20px;

}



.bloc7 {
    margin-top: 80px ;
    text-align: center;
    margin-bottom: 100px;
}


.bloc7 .paragraph {
    font-size: 30px;
    font-weight: lighter;
}

.bloc7 a {
    padding: 15px;
    color: white;
    background-color: blue;
    text-decoration: none;
}


.bloc8 .pieds {
    text-align: center;
}

 


























